{% extends 'base.html' %}

{% block title %}
{{ news_item.title }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sitebar.html' %}
{% endblock %}

{% block content %}
<div class="card mb-3">
    <div class="card-header">
        Категория: <a href="{{ news_item.category.get_absolute_url }}"> {{ news_item.category }} </a>
    </div>
    <div class="card-body">
        <div class="d-flex">
            <div class="flex-shrink-0">
                {% if news_item.photo %}
                <img src="{{ news_item.photo.url }}" width="300px" class="mr-3">
                {% else %}
                <img class="mr-3"
                     src="https://forum.hestiacp.com/uploads/default/original/1X/8592157f8ed594f456bb3eefe8660e1e06ec51fc.png"
                     width="300px">
                {% endif %}
            </div>
            <div class="flex-grow-1 ms-3">
                <h5 class="card-title">{{ news_item.title }}</h5>
                <p class="card-text">
                    {% autoescape off %}
                    {{ news_item.content|linebreaksbr }}
                    {% endautoescape %}
                </p>
            </div>
        </div>

    </div>
    <div class="card-footer text-body-secondary">
        {{ news_item.created_at|date:"Y-m-d H:i" }}
    </div>
</div>
{% endblock %}





